.product {
    width: 300px;
    height: 510px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.product-info {}

.product-info p {
    margin-top: 5px;
}

.product img {
    width: 286px;
    height: 286px;
    padding: 7px;
    border-radius: 20px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

    color: #0E161A;
}

.button-card {
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    bottom: 0;
}
.button-card:hover{
    background-color: orange;
}