.Review-items{
    width: 570px;
    height:100px;
    border: 2px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 8px; 
    display: flex;
    align-items: center;
}
.Review-items img{
    width: 91px;
    height: 91px;
    
}
.Review-items.product-title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    
}
.review-detsils{
    
    flex-grow: 1;

}
.review-detsils p{
    margin:0 15px ;
    
}
.orange-ext{
    color: orange;
}
.btn-delete{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235,87,87,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}